body {
    /*margin: 0;*/
    padding: 0;
}

.FileManager {
    width: 100%;
    position: relative;
    border: 1px solid black;
}

.ListView {
    width: 100%;
    position: absolute;
    background: linear-gradient(to top, #757575 0%,#0e0e0e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    border: 1px solid black;    
}

.ListItem {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    color: white;
    padding: 10px;
    border-bottom: 1px solid gray;
}

.InfoBar {
    width: 98%;
    height: 40px;
    background: #424242;
    color: white;
    padding-left: 11px;
}

.Back {
    background-image: url('../img/back.png');
}

.Type {
    position: relative;
    left:10px;
    top:45px;
    height: 100%;
}

.Icon {
    height: 100%;

}

.Data {
}